In [34]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import DateType
from pyspark.sql.window import Window

In [35]:
spark = SparkSession.builder.getOrCreate()
df = spark.read\
            .option("header",True) \
            .format("csv") \
            .load("../data/uncleaned_data.csv")

In [36]:
# w = Window.partitionBy(["InvoiceNo", "StockCode", "Quantity", "InvoiceDate", "UnitPrice", "Country"])
w = Window.orderBy(F.lit("A")) # orderBy as it is by a dummy value

df.withColumn(
    "_kde_id",
    F.row_number().over(w)
).select("_kde_id", *df.columns).tail(10)

[Row(_kde_id=541900, InvoiceNo='581587', StockCode='22726', Description='ALARM CLOCK BAKELIKE GREEN', Quantity='4', InvoiceDate='12/9/2011 12:50', UnitPrice='3.75', CustomerID='12680', Country='France'),
 Row(_kde_id=541901, InvoiceNo='581587', StockCode='22730', Description='ALARM CLOCK BAKELIKE IVORY', Quantity='4', InvoiceDate='12/9/2011 12:50', UnitPrice='3.75', CustomerID='12680', Country='France'),
 Row(_kde_id=541902, InvoiceNo='581587', StockCode='22367', Description='CHILDRENS APRON SPACEBOY DESIGN', Quantity='8', InvoiceDate='12/9/2011 12:50', UnitPrice='1.95', CustomerID='12680', Country='France'),
 Row(_kde_id=541903, InvoiceNo='581587', StockCode='22629', Description='SPACEBOY LUNCH BOX ', Quantity='12', InvoiceDate='12/9/2011 12:50', UnitPrice='1.95', CustomerID='12680', Country='France'),
 Row(_kde_id=541904, InvoiceNo='581587', StockCode='23256', Description='CHILDRENS CUTLERY SPACEBOY ', Quantity='4', InvoiceDate='12/9/2011 12:50', UnitPrice='4.15', CustomerID='12680', Country='France'),
 Row(_kde_id=541905, InvoiceNo='581587', StockCode='22613', Description='PACK OF 20 SPACEBOY NAPKINS', Quantity='12', InvoiceDate='12/9/2011 12:50', UnitPrice='0.85', CustomerID='12680', Country='France'),
 Row(_kde_id=541906, InvoiceNo='581587', StockCode='22899', Description="CHILDREN'S APRON DOLLY GIRL ", Quantity='6', InvoiceDate='12/9/2011 12:50', UnitPrice='2.1', CustomerID='12680', Country='France'),
 Row(_kde_id=541907, InvoiceNo='581587', StockCode='23254', Description='CHILDRENS CUTLERY DOLLY GIRL ', Quantity='4', InvoiceDate='12/9/2011 12:50', UnitPrice='4.15', CustomerID='12680', Country='France'),
 Row(_kde_id=541908, InvoiceNo='581587', StockCode='23255', Description='CHILDRENS CUTLERY CIRCUS PARADE', Quantity='4', InvoiceDate='12/9/2011 12:50', UnitPrice='4.15', CustomerID='12680', Country='France'),
 Row(_kde_id=541909, InvoiceNo='581587', StockCode='22138', Description='BAKING SET 9 PIECE RETROSPOT ', Quantity='3', InvoiceDate='12/9/2011 12:50', UnitPrice='4.95', CustomerID='12680', Country='France')]

In [37]:
df.describe().show()

+-------+------------------+------------------+--------------------+-----------------+---------------+-----------------+------------------+-----------+
|summary|         InvoiceNo|         StockCode|         Description|         Quantity|    InvoiceDate|        UnitPrice|        CustomerID|    Country|
+-------+------------------+------------------+--------------------+-----------------+---------------+-----------------+------------------+-----------+
|  count|            541909|            541909|              540455|           541909|         541909|           541909|            406829|     541909|
|   mean|  559965.752026781|27623.240210938104|             20713.0| 9.55224954743324|           null|4.611113626089252|15287.690570239585|       null|
| stddev|13428.417280798243|16799.737628427687|                null|218.0811578502336|           null|96.75985306117948|1713.6003033215975|       null|
|    min|            536365|             10002| 4 PURPLE FLOCK D...|               -1|1/10/2011 10:04|        -11062.06|             12346|  Australia|
|    max|           C581569|                 m|   wrongly sold sets|              992|  9/9/2011 9:52|            99.96|             18287|Unspecified|
+-------+------------------+------------------+--------------------+-----------------+---------------+-----------------+------------------+-----------+

In [38]:
df.count()

541909

In [39]:
df.dropDuplicates(df.columns).count()

536641

In [40]:
df \
    .groupby(df.columns) \
    .count() \
    .where('count > 1') \
    .sort('count', ascending=False) \
    .show()

+---------+---------+--------------------+--------+----------------+---------+----------+--------------+-----+
|InvoiceNo|StockCode|         Description|Quantity|     InvoiceDate|UnitPrice|CustomerID|       Country|count|
+---------+---------+--------------------+--------+----------------+---------+----------+--------------+-----+
|   555524|    22698|PINK REGENCY TEAC...|       1|  6/5/2011 11:37|     2.95|     16923|United Kingdom|   20|
|   555524|    22697|GREEN REGENCY TEA...|       1|  6/5/2011 11:37|     2.95|     16923|United Kingdom|   12|
|   572861|    22775|PURPLE DRAWERKNOB...|      12|10/26/2011 12:46|     1.25|     14102|United Kingdom|    8|
|   540524|    21756|BATH BUILDING BLO...|       1|  1/9/2011 12:53|     5.95|     16735|United Kingdom|    6|
|   541266|    21755|LOVE BUILDING BLO...|       1| 1/16/2011 16:25|     5.95|     15673|United Kingdom|    6|
|   541266|    21754|HOME BUILDING BLO...|       1| 1/16/2011 16:25|     5.95|     15673|United Kingdom|    6|
|   578289|    23395|BELLE JARDINIERE ...|       1|11/23/2011 14:07|     3.75|     17841|United Kingdom|    6|
|   538514|    21756|BATH BUILDING BLO...|       1|12/12/2010 14:27|     5.95|     15044|United Kingdom|    6|
|   572344|        M|              Manual|      48|10/24/2011 10:43|      1.5|     14607|United Kingdom|    6|
|   537224|    70007|HI TEC ALPINE HAN...|       1| 12/5/2010 16:24|     1.65|     13174|United Kingdom|    5|
|   547712|    22699|ROSES REGENCY TEA...|       1| 3/24/2011 19:31|     2.95|     16905|United Kingdom|    5|
|   550331|    85202|HANGING WOOD AND ...|       1| 4/17/2011 13:43|     0.42|     15555|United Kingdom|    5|
|   574481|    23084|  RABBIT NIGHT LIGHT|       1| 11/4/2011 12:45|     2.08|     18022|United Kingdom|    5|
|   538517|    22749|FELTCRAFT PRINCES...|       1|12/12/2010 16:05|     3.75|     17618|United Kingdom|    5|
|   572834|    23035|DRAWER KNOB CERAM...|       6|10/26/2011 11:46|     1.45|     12748|United Kingdom|    4|
|   544450|   47567B|TEA TIME KITCHEN ...|       1| 2/20/2011 12:23|     5.95|     17811|United Kingdom|    4|
|   579146|    23356|LOVE HOT WATER BO...|       1|11/28/2011 13:14|     5.95|     16347|United Kingdom|    4|
|   547651|    22249|DECORATION WHITE ...|       1| 3/24/2011 12:11|     0.85|     16904|United Kingdom|    4|
|   578998|    23215|JINGLE BELL HEART...|       1|11/27/2011 16:05|     2.08|     15436|United Kingdom|    4|
|   571286|    17021|NAMASTE SWAGAT IN...|       6|10/16/2011 14:35|      0.3|     14547|United Kingdom|    4|
+---------+---------+--------------------+--------+----------------+---------+----------+--------------+-----+
only showing top 20 rows

In [41]:
df.count()

541909

In [42]:
df.withColumn("index_column", F.monotonically_increasing_id())\
    .where(F.col("index_column") == 49911).show()

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|index_column|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+------------+
|   540538|    20970|PINK FLORAL FELTC...|       1|1/9/2011 14:36|     3.75|     17841|United Kingdom|       49911|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+------------+

In [43]:
df.withColumn("index_column", F.monotonically_increasing_id())\
    .where(F.col("index_column") >= 49911).show()

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|index_column|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+------------+
|   540538|    20970|PINK FLORAL FELTC...|       1|1/9/2011 14:36|     3.75|     17841|United Kingdom|       49911|
|   540538|    22274|FELTCRAFT DOLL EMILY|       1|1/9/2011 14:36|     2.95|     17841|United Kingdom|  8589934592|
|   540538|    22179|SET 10 LIGHTS NIG...|       2|1/9/2011 14:36|     6.75|     17841|United Kingdom|  8589934593|
|   540538|   15060B|FAIRY CAKE DESIGN...|       1|1/9/2011 14:36|     3.75|     17841|United Kingdom|  8589934594|
|   540538|    22212|FOUR HOOK  WHITE ...|       1|1/9/2011 14:36|      2.1|     17841|United Kingdom|  8589934595|
|   540538|    22726|ALARM CLOCK BAKEL...|       1|1/9/2011 14:36|     3.75|     17841|United Kingdom|  8589934596|
|   540538|    82482|WOODEN PICTURE FR...|       1|1/9/2011 14:36|     2.55|     17841|United Kingdom|  8589934597|
|   540538|    82484|WOOD BLACK BOARD ...|       1|1/9/2011 14:36|     6.45|     17841|United Kingdom|  8589934598|
|   540538|    21672|WHITE SPOT RED CE...|       6|1/9/2011 14:36|     1.25|     17841|United Kingdom|  8589934599|
|   540538|    82483|WOOD 2 DRAWER CAB...|       3|1/9/2011 14:36|     5.95|     17841|United Kingdom|  8589934600|
|   540538|    22358|KINGS CHOICE TEA ...|       1|1/9/2011 14:36|     2.95|     17841|United Kingdom|  8589934601|
|   540538|    22766| PHOTO FRAME CORNICE|       1|1/9/2011 14:36|     2.95|     17841|United Kingdom|  8589934602|
|   540538|    22795|SWEETHEART RECIPE...|       1|1/9/2011 14:36|     6.75|     17841|United Kingdom|  8589934603|
|   540538|   85099B|JUMBO BAG RED RET...|       1|1/9/2011 14:36|     1.95|     17841|United Kingdom|  8589934604|
|   540538|    21934|  SKULL SHOULDER BAG|       3|1/9/2011 14:36|     1.65|     17841|United Kingdom|  8589934605|
|   540538|    21928|JUMBO BAG SCANDIN...|       1|1/9/2011 14:36|     1.95|     17841|United Kingdom|  8589934606|
|   540538|    22661|CHARLOTTE BAG DOL...|       1|1/9/2011 14:36|     0.85|     17841|United Kingdom|  8589934607|
|   540538|    22355|CHARLOTTE BAG SUK...|       1|1/9/2011 14:36|     0.85|     17841|United Kingdom|  8589934608|
|   540538|    21784|     SHOE SHINE BOX |       1|1/9/2011 14:36|     9.95|     17841|United Kingdom|  8589934609|
|   540539|    21733|RED HANGING HEART...|      12|1/9/2011 14:42|     2.95|     18260|United Kingdom|  8589934610|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+------------+
only showing top 20 rows

In [44]:
df.where((F.col("InvoiceNo") == 555524) & (F.col("StockCode") == 22698)).show(truncate=False)

+---------+---------+------------------------------+--------+--------------+---------+----------+--------------+
|InvoiceNo|StockCode|Description                   |Quantity|InvoiceDate   |UnitPrice|CustomerID|Country       |
+---------+---------+------------------------------+--------+--------------+---------+----------+--------------+
|555524   |22698    |PINK REGENCY TEACUP AND SAUCER|1       |6/5/2011 11:37|2.95     |16923     |United Kingdom|
|555524   |22698    |PINK REGENCY TEACUP AND SAUCER|1       |6/5/2011 11:37|2.95     |16923     |United Kingdom|
|555524   |22698    |PINK REGENCY TEACUP AND SAUCER|1       |6/5/2011 11:37|2.95     |16923     |United Kingdom|
|555524   |22698    |PINK REGENCY TEACUP AND SAUCER|1       |6/5/2011 11:37|2.95     |16923     |United Kingdom|
|555524   |22698    |PINK REGENCY TEACUP AND SAUCER|1       |6/5/2011 11:37|2.95     |16923     |United Kingdom|
|555524   |22698    |PINK REGENCY TEACUP AND SAUCER|1       |6/5/2011 11:37|2.95     |16923     |United Kingdom|
|555524   |22698    |PINK REGENCY TEACUP AND SAUCER|1       |6/5/2011 11:37|2.95     |16923     |United Kingdom|
|555524   |22698    |PINK REGENCY TEACUP AND SAUCER|1       |6/5/2011 11:37|2.95     |16923     |United Kingdom|
|555524   |22698    |PINK REGENCY TEACUP AND SAUCER|1       |6/5/2011 11:37|2.95     |16923     |United Kingdom|
|555524   |22698    |PINK REGENCY TEACUP AND SAUCER|1       |6/5/2011 11:37|2.95     |16923     |United Kingdom|
|555524   |22698    |PINK REGENCY TEACUP AND SAUCER|1       |6/5/2011 11:37|2.95     |16923     |United Kingdom|
|555524   |22698    |PINK REGENCY TEACUP AND SAUCER|1       |6/5/2011 11:37|2.95     |16923     |United Kingdom|
|555524   |22698    |PINK REGENCY TEACUP AND SAUCER|1       |6/5/2011 11:37|2.95     |16923     |United Kingdom|
|555524   |22698    |PINK REGENCY TEACUP AND SAUCER|1       |6/5/2011 11:37|2.95     |16923     |United Kingdom|
|555524   |22698    |PINK REGENCY TEACUP AND SAUCER|1       |6/5/2011 11:37|2.95     |16923     |United Kingdom|
|555524   |22698    |PINK REGENCY TEACUP AND SAUCER|1       |6/5/2011 11:37|2.95     |16923     |United Kingdom|
|555524   |22698    |PINK REGENCY TEACUP AND SAUCER|1       |6/5/2011 11:37|2.95     |16923     |United Kingdom|
|555524   |22698    |PINK REGENCY TEACUP AND SAUCER|1       |6/5/2011 11:37|2.95     |16923     |United Kingdom|
|555524   |22698    |PINK REGENCY TEACUP AND SAUCER|1       |6/5/2011 11:37|2.95     |16923     |United Kingdom|
|555524   |22698    |PINK REGENCY TEACUP AND SAUCER|1       |6/5/2011 11:37|2.95     |16923     |United Kingdom|
+---------+---------+------------------------------+--------+--------------+---------+----------+--------------+

In [45]:
df.where((F.col("Quantity") != 1)).show()

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|12/1/2010 8:26|     7.65|     17850|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|12/1/2010 8:26|     4.25|     17850|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|12/1/2010 8:34|     1.69|     13047|United Kingdom|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|
|   536367|    22749|FELTCRAFT PRINCES...|       8|12/1/2010 8:34|     3.75|     13047|United Kingdom|
|   536367|    22310|IVORY KNITTED MUG...|       6|12/1/2010 8:34|     1.65|     13047|United Kingdom|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|12/1/2010 8:34|     4.25|     13047|United Kingdom|
|   536367|    22623|BOX OF VINTAGE JI...|       3|12/1/2010 8:34|     4.95|     13047|United Kingdom|
|   536367|    22622|BOX OF VINTAGE AL...|       2|12/1/2010 8:34|     9.95|     13047|United Kingdom|
|   536367|    21754|HOME BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|
|   536367|    21755|LOVE BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|
|   536367|    21777|RECIPE BOX WITH M...|       4|12/1/2010 8:34|     7.95|     13047|United Kingdom|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
only showing top 20 rows

In [46]:
df.withColumn("invoice_date", F.trim(F.col("InvoiceDate"))).show()

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|  invoice_date|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|12/1/2010 8:26|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|12/1/2010 8:26|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|12/1/2010 8:26|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|12/1/2010 8:26|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|12/1/2010 8:26|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|12/1/2010 8:26|     7.65|     17850|United Kingdom|12/1/2010 8:26|
|   536365|    21730|GLASS STAR FROSTE...|       6|12/1/2010 8:26|     4.25|     17850|United Kingdom|12/1/2010 8:26|
|   536366|    22633|HAND WARMER UNION...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|12/1/2010 8:28|
|   536366|    22632|HAND WARMER RED P...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|12/1/2010 8:28|
|   536367|    84879|ASSORTED COLOUR B...|      32|12/1/2010 8:34|     1.69|     13047|United Kingdom|12/1/2010 8:34|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|12/1/2010 8:34|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|12/1/2010 8:34|
|   536367|    22749|FELTCRAFT PRINCES...|       8|12/1/2010 8:34|     3.75|     13047|United Kingdom|12/1/2010 8:34|
|   536367|    22310|IVORY KNITTED MUG...|       6|12/1/2010 8:34|     1.65|     13047|United Kingdom|12/1/2010 8:34|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|12/1/2010 8:34|     4.25|     13047|United Kingdom|12/1/2010 8:34|
|   536367|    22623|BOX OF VINTAGE JI...|       3|12/1/2010 8:34|     4.95|     13047|United Kingdom|12/1/2010 8:34|
|   536367|    22622|BOX OF VINTAGE AL...|       2|12/1/2010 8:34|     9.95|     13047|United Kingdom|12/1/2010 8:34|
|   536367|    21754|HOME BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|12/1/2010 8:34|
|   536367|    21755|LOVE BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|12/1/2010 8:34|
|   536367|    21777|RECIPE BOX WITH M...|       4|12/1/2010 8:34|     7.95|     13047|United Kingdom|12/1/2010 8:34|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+--------------+
only showing top 20 rows

In [47]:
df.withColumn("invoice_date", F.col("InvoiceDate")).show()

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|  invoice_date|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|12/1/2010 8:26|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|12/1/2010 8:26|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|12/1/2010 8:26|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|12/1/2010 8:26|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|12/1/2010 8:26|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|12/1/2010 8:26|     7.65|     17850|United Kingdom|12/1/2010 8:26|
|   536365|    21730|GLASS STAR FROSTE...|       6|12/1/2010 8:26|     4.25|     17850|United Kingdom|12/1/2010 8:26|
|   536366|    22633|HAND WARMER UNION...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|12/1/2010 8:28|
|   536366|    22632|HAND WARMER RED P...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|12/1/2010 8:28|
|   536367|    84879|ASSORTED COLOUR B...|      32|12/1/2010 8:34|     1.69|     13047|United Kingdom|12/1/2010 8:34|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|12/1/2010 8:34|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|12/1/2010 8:34|
|   536367|    22749|FELTCRAFT PRINCES...|       8|12/1/2010 8:34|     3.75|     13047|United Kingdom|12/1/2010 8:34|
|   536367|    22310|IVORY KNITTED MUG...|       6|12/1/2010 8:34|     1.65|     13047|United Kingdom|12/1/2010 8:34|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|12/1/2010 8:34|     4.25|     13047|United Kingdom|12/1/2010 8:34|
|   536367|    22623|BOX OF VINTAGE JI...|       3|12/1/2010 8:34|     4.95|     13047|United Kingdom|12/1/2010 8:34|
|   536367|    22622|BOX OF VINTAGE AL...|       2|12/1/2010 8:34|     9.95|     13047|United Kingdom|12/1/2010 8:34|
|   536367|    21754|HOME BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|12/1/2010 8:34|
|   536367|    21755|LOVE BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|12/1/2010 8:34|
|   536367|    21777|RECIPE BOX WITH M...|       4|12/1/2010 8:34|     7.95|     13047|United Kingdom|12/1/2010 8:34|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+--------------+
only showing top 20 rows

In [48]:
df.withColumn("unit_price", F.round(F.col("UnitPrice"), 1)).show()

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+----------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|unit_price|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+----------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|       2.6|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|       3.4|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|       2.8|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|       3.4|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|       3.4|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|12/1/2010 8:26|     7.65|     17850|United Kingdom|       7.7|
|   536365|    21730|GLASS STAR FROSTE...|       6|12/1/2010 8:26|     4.25|     17850|United Kingdom|       4.3|
|   536366|    22633|HAND WARMER UNION...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|       1.9|
|   536366|    22632|HAND WARMER RED P...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|       1.9|
|   536367|    84879|ASSORTED COLOUR B...|      32|12/1/2010 8:34|     1.69|     13047|United Kingdom|       1.7|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|       2.1|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|       2.1|
|   536367|    22749|FELTCRAFT PRINCES...|       8|12/1/2010 8:34|     3.75|     13047|United Kingdom|       3.8|
|   536367|    22310|IVORY KNITTED MUG...|       6|12/1/2010 8:34|     1.65|     13047|United Kingdom|       1.7|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|12/1/2010 8:34|     4.25|     13047|United Kingdom|       4.3|
|   536367|    22623|BOX OF VINTAGE JI...|       3|12/1/2010 8:34|     4.95|     13047|United Kingdom|       5.0|
|   536367|    22622|BOX OF VINTAGE AL...|       2|12/1/2010 8:34|     9.95|     13047|United Kingdom|      10.0|
|   536367|    21754|HOME BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|       6.0|
|   536367|    21755|LOVE BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|       6.0|
|   536367|    21777|RECIPE BOX WITH M...|       4|12/1/2010 8:34|     7.95|     13047|United Kingdom|       8.0|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+----------+
only showing top 20 rows

In [49]:
# df.withColumn("created_d", F.date_format(F.to_date("InvoiceDate", "M/d/yyyy H:mm"), "yyyy-MM-dd"))\
df.withColumn("created_d", F.date_format(F.to_date("InvoiceDate", "M/d/yyyy H:mm"), "yyyy-MM-dd").cast(DateType()))\
    .withColumn("_temp_date", F.date_format(F.to_date("created_d", "yyyy-MM-dd"), "dd-MM-yyyy")) \
    .withColumn("ptn_yyyy", F.year("created_d")) \
    .withColumn("ptn_mm", F.month("created_d")) \
    .withColumn("ptn_dd", F.dayofmonth("created_d")) \
    .drop("_temp_date") \
    .show(10)

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+----------+--------+------+------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country| created_d|ptn_yyyy|ptn_mm|ptn_dd|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+----------+--------+------+------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|2010-12-01|    2010|    12|     1|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|2010-12-01|    2010|    12|     1|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|2010-12-01|    2010|    12|     1|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|2010-12-01|    2010|    12|     1|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|2010-12-01|    2010|    12|     1|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|12/1/2010 8:26|     7.65|     17850|United Kingdom|2010-12-01|    2010|    12|     1|
|   536365|    21730|GLASS STAR FROSTE...|       6|12/1/2010 8:26|     4.25|     17850|United Kingdom|2010-12-01|    2010|    12|     1|
|   536366|    22633|HAND WARMER UNION...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|2010-12-01|    2010|    12|     1|
|   536366|    22632|HAND WARMER RED P...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|2010-12-01|    2010|    12|     1|
|   536367|    84879|ASSORTED COLOUR B...|      32|12/1/2010 8:34|     1.69|     13047|United Kingdom|2010-12-01|    2010|    12|     1|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+----------+--------+------+------+
only showing top 10 rows

In [50]:
# df.withColumn("ingestion_date", .cast(DateType()))\
df.withColumn("ingestion_date", F.lit("2025-04-23").cast(DateType()))\
    .withColumn("ptn_yyyy", F.year("ingestion_date")) \
    .withColumn("ptn_mm", F.month("ingestion_date")) \
    .withColumn("ptn_dd", F.dayofmonth("ingestion_date")) \
    .show(10)

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+--------------+--------+------+------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|ingestion_date|ptn_yyyy|ptn_mm|ptn_dd|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+--------------+--------+------+------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|    2025-04-23|    2025|     4|    23|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|    2025-04-23|    2025|     4|    23|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|    2025-04-23|    2025|     4|    23|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|    2025-04-23|    2025|     4|    23|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|    2025-04-23|    2025|     4|    23|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|12/1/2010 8:26|     7.65|     17850|United Kingdom|    2025-04-23|    2025|     4|    23|
|   536365|    21730|GLASS STAR FROSTE...|       6|12/1/2010 8:26|     4.25|     17850|United Kingdom|    2025-04-23|    2025|     4|    23|
|   536366|    22633|HAND WARMER UNION...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|    2025-04-23|    2025|     4|    23|
|   536366|    22632|HAND WARMER RED P...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|    2025-04-23|    2025|     4|    23|
|   536367|    84879|ASSORTED COLOUR B...|      32|12/1/2010 8:34|     1.69|     13047|United Kingdom|    2025-04-23|    2025|     4|    23|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+--------------+--------+------+------+
only showing top 10 rows

In [51]:
df.withColumn("created_d", F.date_format(F.to_date("InvoiceDate", "M/d/yyyy H:mm"), "yyyy-MM-dd").cast(DateType()))\
    .withColumn("ptn_yyyy", F.year("created_d")) \
    .withColumn("ptn_mm", F.month("created_d")) \
    .withColumn("ptn_dd", F.dayofmonth("created_d")) \
    .printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: string (nullable = true)
 |-- CustomerID: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- created_d: date (nullable = true)
 |-- ptn_yyyy: integer (nullable = true)
 |-- ptn_mm: integer (nullable = true)
 |-- ptn_dd: integer (nullable = true)

In [52]:
sample = ["invoice_date", "country", "transaction_date"]

date_column = [column_name for column_name in sample if "date" in column_name]

if len(date_column) > 1:
    pass
else:
    date_col = date_column[0]
date_column
# date_col

['invoice_date', 'transaction_date']

In [53]:
# df.withColumn("created_d", F.date_format(F.to_date("InvoiceDate", "M/d/yyyy H:mm"), "yyyy-MM-dd"))\
df_type = df.withColumn("created_d", F.date_format(F.to_date("InvoiceDate", "M/d/yyyy H:mm"), "yyyy-MM-dd").cast(DateType()))\
    .withColumn("ptn_yyyy", F.year("created_d")) \
    .withColumn("ptn_mm", F.month("created_d")) \
    .withColumn("ptn_dd", F.dayofmonth("created_d")) \
    .dtypes
df_type = {field_name: data_type for field_name, data_type in df_type}

In [54]:
df_type

{'InvoiceNo': 'string',
 'StockCode': 'string',
 'Description': 'string',
 'Quantity': 'string',
 'InvoiceDate': 'string',
 'UnitPrice': 'string',
 'CustomerID': 'string',
 'Country': 'string',
 'created_d': 'date',
 'ptn_yyyy': 'int',
 'ptn_mm': 'int',
 'ptn_dd': 'int'}

In [55]:
# df.withColumn("created_d", F.date_format(F.to_date("InvoiceDate", "M/d/yyyy H:mm"), "yyyy-MM-dd"))\
df.withColumn("invoice_timestamp", F.date_format(F.to_timestamp("InvoiceDate", "M/d/yyyy H:mm"), "yyyy-MM-dd HH:mm:ss")) \
    .show()

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+-------------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|  invoice_timestamp|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+-------------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|2010-12-01 08:26:00|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|2010-12-01 08:26:00|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|2010-12-01 08:26:00|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|2010-12-01 08:26:00|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|2010-12-01 08:26:00|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|12/1/2010 8:26|     7.65|     17850|United Kingdom|2010-12-01 08:26:00|
|   536365|    21730|GLASS STAR FROSTE...|       6|12/1/2010 8:26|     4.25|     17850|United Kingdom|2010-12-01 08:26:00|
|   536366|    22633|HAND WARMER UNION...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|2010-12-01 08:28:00|
|   536366|    22632|HAND WARMER RED P...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|2010-12-01 08:28:00|
|   536367|    84879|ASSORTED COLOUR B...|      32|12/1/2010 8:34|     1.69|     13047|United Kingdom|2010-12-01 08:34:00|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|2010-12-01 08:34:00|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|2010-12-01 08:34:00|
|   536367|    22749|FELTCRAFT PRINCES...|       8|12/1/2010 8:34|     3.75|     13047|United Kingdom|2010-12-01 08:34:00|
|   536367|    22310|IVORY KNITTED MUG...|       6|12/1/2010 8:34|     1.65|     13047|United Kingdom|2010-12-01 08:34:00|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|12/1/2010 8:34|     4.25|     13047|United Kingdom|2010-12-01 08:34:00|
|   536367|    22623|BOX OF VINTAGE JI...|       3|12/1/2010 8:34|     4.95|     13047|United Kingdom|2010-12-01 08:34:00|
|   536367|    22622|BOX OF VINTAGE AL...|       2|12/1/2010 8:34|     9.95|     13047|United Kingdom|2010-12-01 08:34:00|
|   536367|    21754|HOME BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|2010-12-01 08:34:00|
|   536367|    21755|LOVE BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|2010-12-01 08:34:00|
|   536367|    21777|RECIPE BOX WITH M...|       4|12/1/2010 8:34|     7.95|     13047|United Kingdom|2010-12-01 08:34:00|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+-------------------+
only showing top 20 rows

In [56]:
df.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: string (nullable = true)
 |-- CustomerID: string (nullable = true)
 |-- Country: string (nullable = true)

In [57]:
df.select(F.regexp_extract("InvoiceNo", r'\D', 0).alias("is_contain_char")).show(5)

+---------------+
|is_contain_char|
+---------------+
|               |
|               |
|               |
|               |
|               |
+---------------+
only showing top 5 rows

In [58]:
df.select(F.regexp_extract("InvoiceNo", r'\D', 0).alias("is_contain_char"))\
    .where((F.col("is_contain_char") != "") & (F.col("is_contain_char") != "C") & ((F.col("is_contain_char") != "A"))) \
    .show()

+---------------+
|is_contain_char|
+---------------+
+---------------+

In [59]:
df.select(F.regexp_extract("Quantity", r'\D', 0).alias("is_contain_char"))\
    .where((F.col("is_contain_char") != "") & ((F.col("is_contain_char") != "-"))) \
    .show()

+---------------+
|is_contain_char|
+---------------+
+---------------+

In [60]:
df.select(F.regexp_extract("Quantity", r'\.', 0).alias("is_contain_char"))\
    .where((F.col("is_contain_char") != "")) \
    .show()

+---------------+
|is_contain_char|
+---------------+
+---------------+

In [61]:
df.withColumn("is_contain", F.regexp_extract("CustomerID", r"\D", 0))\
    .where(
        (F.col("is_contain") != "")
    ) \
    .show()

+---------+---------+-----------+--------+-----------+---------+----------+-------+----------+
|InvoiceNo|StockCode|Description|Quantity|InvoiceDate|UnitPrice|CustomerID|Country|is_contain|
+---------+---------+-----------+--------+-----------+---------+----------+-------+----------+
+---------+---------+-----------+--------+-----------+---------+----------+-------+----------+

In [62]:
spark.sparkContext._jvm.org.apache.hadoop.util.VersionInfo.getVersion()

'3.3.4'

In [63]:
spark.sparkContext._jvm.org.apache.hadoop.util.NativeCodeLoader.isNativeCodeLoaded()

True

In [64]:
spark.stop()